body {
  font-family: Montserrat;
}

.titleBar {
  display: flex;
  height: 80px;
  margin-bottom: 20px;
}

.logo {
  flex-grow: 1;
  width: 200px;
  font-size: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact {
  padding-top: 40px;
  padding-bottom: 40px;
  color: grey;
}
