.customerAmmountBar {
  display: flex;
}
.companyInfo {
  margin-left: 37px;
  margin-right: 140px;
}

.totalAmount {
  display: flex;
}

.totalDue {
  display: flex;
  margin-right: 140px;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px 10px;
}
.amount {
  padding-left: 40px;
}
